Source: starlabs-touchpad
Section: admin
Maintainer: Star Labs <admin@starlabs.systems>
Build-Depends: debhelper (>= 7)
Standards-Version: 4.1.1

Package: starlabs-touchpad
Architecture: all
Description: Quirks for touchpads used in Star Labs laptops




